$base-font-size: 16px;

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body{
  font-size: $base-font-size;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  overflow-x: auto;
  background-color: #111111;
  margin: 0;
  .epg{

    .schedule{
      overflow-y: hidden;
      margin-right: 20px;
      display: flex;
      margin-top: 85px;
      .timeline{
        margin-left: 8px;
        display: -webkit-inline-box;
        position: absolute;
        color: #ffffff;
        top: 0;
        .timeline-entry{
          width: 720px;
          text-align: left;
          position: fixed;
          height: 40px;
          background-color: #111111;
          z-index: 1;
          padding-top: 20px;
          font-size: 33px;
        }
      }
      .channels-block{
        background-color: #111111;
        z-index: 1;
        .active-channel{
          background-color: #f0f8ff !important;
          color: #000 !important;
        }
        .wall{
          position: fixed;
          width: 340px;
          height: 60px;
          top: 0;
          z-index: 2;
          background-color: #111111;
        }
        .channel-entry{
          height: 10px;
          color: #fff;
          margin-left: 50px;
          margin-right: 10px;
          background-color: #919191;
          margin-bottom: 10px;
          display: flex;
          padding: 10px 20px 20px 20px;
          width: 240px;
          cursor: pointer;
          .channel-number-block{
            text-align: center;
            width: 30%;
          }
          .channel-title-block{
            text-align: center;
            width: 70%;
          }
        }
        .active-row{
          height: 160px !important;
        }
      }
      .programs-block{
        position: absolute;
        left: 348px;
        z-index: 0;
        padding-bottom: 50px;
        .vertical-line{
          height: 835px;
          width: 2px;
          position: absolute;
          background-color: #ff0000;
          z-index: 5;
        }
        .program-row{
          height: 50px;
          white-space: nowrap;
          .program-entry{
            height: 10px;
            position: absolute;
            color: #fff;
            margin-right: 1px;
            background-color: #919191;
            margin-bottom: 10px;
            display: flex;
            padding: 10px 0 20px 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
          }
          .active-program{
            background-color: #f0f8ff !important;
            color: #000 !important;
          }
          .current-time-program{
            background-color: #b4b4b4;
          }
        }
        .info-row{
          height: 140px;
          margin-bottom: 10px;
          .info-content{
            position: absolute;
            color: #ffffff;
            h2, div{
              width: 1400px;
              margin-top: 0;
            }
            span{
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  .footer{
    position: fixed;
    height: 65px;
    width: 120%;
    background-color: #111111;
    left: -340px;
    bottom: 0px;
    z-index: 10;
    .fixed{
      position: fixed;
      z-index: 10;
    }
    span{
      color: white;
      left: 600px;
      display: flex;
      margin-top: 13px;
      h3{
        margin: 0 20px 0 0;
      }
      i{
        margin-right: 5px;
      }
    }
  }
  #goToNow{
    bottom: 20px;
    left: 400px;
    padding: 10px;
    border-radius: 13px;
    background-color: #baffb2;
    cursor: pointer;
  }
}