$base-font-size: 16px;

body{
  font-size: $base-font-size;
  overflow-x: auto;
  background-color: #111111;
  .epg{
    overflow-y: auto;
    margin-right: 20px;
    display: flex;
    max-height: 920px;
    width: 100%;
    .channels-block{
      .channel-entry{
        height: 20px;
        color: #fff;
        margin-left: 50px;
        margin-right: 10px;
        background-color: #494949;
        margin-bottom: 10px;
        display: flex;
        padding: 20px;
        width: 240px;
        .channel-number-block{
          text-align: center;
          width: 30%;
        }
        .channel-title-block{
          text-align: center;
          width: 70%;
        }
      }
    }
    .programs-block{
      .program-row{
        height: 60px;
        margin-bottom: 10px;
        display: flex;
        white-space: nowrap;
        .program-entry{
          height: 20px;
          color: #fff;
          margin-right: 10px;
          background-color: #494949;
          margin-bottom: 10px;
          display: flex;
          padding: 20px;
        }
      }
    }
  }
}